.App {
  color: white;
  font-family: Arial;
  text-align: center;
}

.my_picture {
  width: 27%;
  height: 45%; 
  border-radius: 10px 10px 10px 10px;
  margin-top: 60px;
  box-shadow: -3px -3px 7px 7px rgb(206, 206, 206);
}

.all_images {
  background-image: url("../src/Pic/blur.jpg");
  width: 38cm;
  height: 120cm;
  background-size: cover;
  background-position: center;
  padding-right: 6.6%;
}

.main_page {
  background-image: url("../src/Pic/purple.jpg");
  position: fixed;
  width: 101.6%;
  height: 150%;
  margin-left: -10px;
  background-size: cover;
  background-position: center;
}

.nav {
  text-decoration: none;
  padding: 0 15px;
  color: white;
  top: 20px;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Caveat';
}

.background {
  background-color: rgb(48, 54, 59);
  width: 100%;
  /* padding-right: 1.6%; */
  padding-right: 0.9%;
}

.about {
  /* background-image: url("../src/Pic/about\ wall.jpg"); */
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  width: 101.6%;
  height: 35cm;
  margin-left: -10px;
  background-size: cover;
  background-position: center;
}

.heading_3 {
  margin-top: 160px;
  font-size: 20px;
  font-family: 'Paprika';
  margin-left: 3%;
}

.heading_3_1 {
  margin-top: 80px;
  font-size: 25px;
  font-family: 'Paprika';
}

.navigation {
  padding-top: 30px; 
  padding-bottom: 30px; 
  padding-left: 43%;
}

@media all and (max-width: 768px) {
  .my_picture {
    width: 15px;
    height: 60%;
    margin-left: 60%; 
  }

  .heading_3 {
    font-size: 15px;
    font-family: 'Paprika';
  }

  .about {
    padding-right: 142%;
    padding-bottom: 150%;
  }

  .heading_3_1 {
    font-size: 15px;
  }

  .nav {
    padding: 0 5px;
    color:rgb(48, 54, 59);
    font-size: 25px;
    font-weight: bolder;  
  }

  .background {
    background-color: rgb(255, 255, 255);

  } 
}


@media all and (max-width: 1024px) {
  .all_images {
    width: 45cm;
    height: 140cm;
    margin-left: 0px;
  }

  .background {
    padding-right: 12%;
  }

  .all_images {
    padding-right: 15%;
  }

  .heading_3 {
    font-size: 15px;
    font-family: 'Paprika';
    margin-right: -80px;
  }

  .my_picture {
    width: 70%;
    height: 55%;
    margin-left: 5%; 
  }

  .about {
    padding-right: 90px;
    padding-bottom: 30%;
  }
}

@media all and (min-width:487px) {
  .my_picture {
    width: 55%;
    height: 30%;
  }

  .heading_3_1 {
    margin-left: 50px;
  }
}

@media all and (min-width:360px) {
  .my_picture {
    width: 70%;
    height: 30%;
    margin-left: 110px;
  }

  .heading_3_1 {
    margin-left: 50px;
  }

  .nav {
    font-size: 22px;
  }
}

@media all and (min-width:320px) {
  .my_picture {
    width: 75%;
    height: 30%;
    margin-left:90px;
  }

  .heading_3_1 {
    margin-left: 50px;
  }

  .nav {
    font-size:20px;
  }
}

@media all and (min-width:768px) {
  .my_picture {
    width:20%;
    margin-left: 7px;
  }
}
